<launch>
	<node pkg="tf" type="static_transform_publisher" name="laser_broadcaster" args="0 0 0 0 0 0 base_link laser 10" />
  <node pkg="tf" type="static_transform_publisher" name="baselink_broadcaster" args="0 0 0 0 0 0 odom base_link 10" />
  <node name="!--avoidance" pkg="b39vt_assignment" type="avoid" /-->
  <node name="image_rec" pkg="b39vt_assignment" type="image" output="screen"/>
  <node name="laser" pkg="hokuyo_node" type="hokuyo_node" />
  <!--node name="mapping" pkg="hector_mapping" type="hector_mapping" /-->
  
  <!--node pkg="hector_geotiff" type="geotiff_node" name="hector_geotiff_node" output="screen" launch-prefix="nice -n 15">
    <remap from="map" to="/dynamic_map" />
    <param name="map_file_path" type="string" value="$(find hector_geotiff)/maps" />
    <param name="map_file_base_name" type="string" value="hector_slam_map" />
    <param name="geotiff_save_period" type="double" value="0" />
    <param name="draw_background_checkerboard" type="bool" value="true" />
    <param name="draw_free_space_grid" type="bool" value="true" />
  </node-->
  <node name="foo_throttler" type="throttle" pkg="topic_tools" args="messages /camera/rgb/image_raw 1 /camera/rgb/image_raw_throttled" />

</launch>
